<!-- <h2>custome pipe - pure pipe</h2>
<p>{{ money | currency : 'USD': true }}</p>
<p>{{ money | currencyExchange : 'CNY': true }}</p>
<p>{{ money | currencyExchange : 'JPY': true }}</p>

<h2>impure pipe</h2>

<ul>
  <li *ngFor="let m of (moneyList | myfilter)">
    {{m}}
  </li>

</ul>

<input type="number" [(ngModel)]="newMoney" class="form-control">
<button class="btn btn-primary" (click)="addMoney()">Add money</button>

<h2>Async pipe - impure pipe</h2>
<p>{{ fetchMoney | async | currency}}</p> -->